# Importing Required libraries

In [1]:
import pandas as pd
import numpy as np

# Creating DataFrames using Dictionaries

In [13]:
data_dict = {"NAMES":['CCN','OFC','WC','NA'] , "MARKS":[23,24,27,25]}

#### After Creating DataFrames we can transfer it to a CSV file

In [39]:
pd.DataFrame(data_dict).to_csv('data_dict.csv',index=False)

#### Reading the CSV file data

In [40]:
result = pd.read_csv('data_dict.csv')

#### Changing the indexing of DataFrame

In [42]:
result.index = ['m1','m2','m3','m4']

#### Specific cell can be edited

In [50]:
result['NAMES']['m4']='NA'

C:\Users\dhrumil\AppData\Local\Temp/ipykernel_29744/1755184193.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result['NAMES']['m4']='NA'

#### Viewing a specific column

In [164]:
result[['NAMES']]

   NAMES
m1   CCN
m2   OFC
m3    WC
m4    NA

# Creating DataFrames using CSV files and Data Cleaning

In [2]:
df = pd.read_csv('C:\\Users\\dhrumil\\Desktop\\archive\\alcohol-consumption-vs-gdp-per-capita.csv')
df.set_index("Entity",inplace=True)

#### Displaying First 5 Entries of our dataset

In [3]:
df.head()

,Code,Year,Total alcohol consumption per capita,"GDP per capita, PPP",Population,Continent
Entity,,,,,,
Afghanistan,AFG,2010.0,0.210000,1957.029070,29185511.0,NaN
Afghanistan,AFG,2015.0,0.210000,2068.265904,34413603.0,Asia
Afghanistan,AFG,2018.0,0.210000,2033.804389,37171922.0,NaN
Africa Eastern and Southern,NaN,2000.0,5.014051,2654.767900,NaN,NaN
Africa Eastern and Southern,NaN,2005.0,4.856588,2901.690263,NaN,NaN

#### Displaying Column names

In [4]:
df.columns

Index(['Code', 'Year', 'Total alcohol consumption per capita',
       'GDP per capita, PPP', 'Population', 'Continent'],
      dtype='object')

#### Changing column names by entering names in list

In [5]:
df.columns=[ 'Code', 'Year',
       'Total alcohol consumption per capita',
       'GDP per capita, PPP',
       'Population', 'Continent'] #Changes in column name are not done in our case

#### Changing the "NA" Values of a particular column

In [6]:
df=df.fillna({
    'Year':0
})
df.to_csv('C:\\Users\\dhrumil\\Desktop\\archive\\alcohol-consumption-vs-gdp-per-capita.csv')

#### Changing the type of column data

In [7]:
conv={
    'Year' : int
}
df.astype(conv)
df.to_csv('C:\\Users\\dhrumil\\Desktop\\archive\\alcohol-consumption-vs-gdp-per-capita.csv')

#### Replacing a particular data pattern with "NA"

In [8]:
df = df.replace({
'Year': 0
}, np.NaN)
df.to_csv('C:\\Users\\dhrumil\\Desktop\\archive\\alcohol-consumption-vs-gdp-per-capita.csv')

#### Removing negative values

In [9]:
df[df['Year']<0]=None
df.dropna(subset=['Year','Total alcohol consumption per capita','GDP per capita, PPP'],inplace=True)
df.to_csv('C:\\Users\\dhrumil\\Desktop\\archive\\alcohol-consumption-vs-gdp-per-capita.csv')

#### Vieweing a particular column in "Series" form:

In [10]:
df['GDP per capita, PPP']

Entity
Afghanistan                    1957.029070
Afghanistan                    2068.265904
Afghanistan                    2033.804389
Africa Eastern and Southern    2654.767900
Africa Eastern and Southern    2901.690263
                                  ...
Zimbabwe                       3756.139483
Zimbabwe                       2517.672707
Zimbabwe                       2458.220626
Zimbabwe                       3198.982129
Zimbabwe                       3341.665418
Name: GDP per capita, PPP, Length: 1111, dtype: float64

#### Finding Maximum value of a particular column

In [11]:
df[['Total alcohol consumption per capita']].max()

Total alcohol consumption per capita    20.5
dtype: float64

#### Finding Minimum value of a particular column

In [12]:
df[['Total alcohol consumption per capita']].min()

Total alcohol consumption per capita    0.003
dtype: float64

#### Finding Mean value of a particular column

In [13]:
df['Total alcohol consumption per capita' ].mean()

6.13784103826731

#### Finding Maximum value of a particular column and displaying the row

In [14]:
df[df['Total alcohol consumption per capita'] == df['Total alcohol consumption per capita'].max()]

,Code,Year,Total alcohol consumption per capita,"GDP per capita, PPP",Population,Continent
Entity,,,,,,
Seychelles,SYC,2018.0,20.5,27342.161652,97094.0,NaN

#### Finding Minimum value of a particular column and displaying the row

In [16]:
df[['Total alcohol consumption per capita']][df['Total alcohol consumption per capita'] == df['Total alcohol consumption per capita'].min()]

        Total alcohol consumption per capita
Entity
Kuwait                                 0.003
Kuwait                                 0.003

#### Grouping the data rows with respect to the column values specified

In [17]:
grp= df.groupby('Entity')
grp

#### After grouping ,printing the values

In [ ]:
for country,country_df in grp:
    print(country)
    print(country_df)

#### Accessing a specific group

In [19]:
grp.get_group('India')

,Code,Year,Total alcohol consumption per capita,"GDP per capita, PPP",Population,Continent
Entity,,,,,,
India,IND,2000.0,2.28,2578.591530,1.056576e+09,NaN
India,IND,2005.0,2.33,3245.299885,1.147610e+09,NaN
India,IND,2010.0,4.35,4234.979573,1.234281e+09,NaN
India,IND,2015.0,5.54,5464.394057,1.310152e+09,Asia
India,IND,2018.0,5.54,6518.845055,1.352642e+09,NaN

#### Calculating Mean of each group

In [20]:
df_grp=grp.mean()

In [21]:
grp.describe()

                             Year                                         \
                            count         mean       std     min     25%
Entity
Afghanistan                   3.0  2014.333333  4.041452  2010.0  2012.5
Africa Eastern and Southern   5.0  2009.600000  7.300685  2000.0  2005.0
Africa Western and Central    5.0  2009.600000  7.300685  2000.0  2005.0
Albania                       5.0  2009.600000  7.300685  2000.0  2005.0
Algeria                       5.0  2009.600000  7.300685  2000.0  2005.0
...                           ...          ...       ...     ...     ...
Vanuatu                       5.0  2009.600000  7.300685  2000.0  2005.0
Vietnam                       5.0  2009.600000  7.300685  2000.0  2005.0
World                         5.0  2009.600000  7.300685  2000.0  2005.0
Zambia                        5.0  2009.600000  7.300685  2000.0  2005.0
Zimbabwe                      5.0  2009.600000  7.300685  2000.0  2005.0

                                                     \
                                50%     75%     max
Entity
Afghanistan                  2015.0  2016.5  2018.0
Africa Eastern and Southern  2010.0  2015.0  2018.0
Africa Western and Central   2010.0  2015.0  2018.0
Albania                      2010.0  2015.0  2018.0
Algeria                      2010.0  2015.0  2018.0
...                             ...     ...     ...
Vanuatu                      2010.0  2015.0  2018.0
Vietnam                      2010.0  2015.0  2018.0
World                        2010.0  2015.0  2018.0
Zambia                       2010.0  2015.0  2018.0
Zimbabwe                     2010.0  2015.0  2018.0

                            Total alcohol consumption per capita            \
                                                           count      mean
Entity
Afghanistan                                                  3.0  0.210000
Africa Eastern and Southern                                  5.0  5.131846
Africa Western and Central                                   5.0  7.421209
Albania                                                      5.0  7.164000
Algeria                                                      5.0  0.784000
...                                                          ...       ...
Vanuatu                                                      5.0  1.692000
Vietnam                                                      5.0  5.252000
World                                                        5.0  5.936044
Zambia                                                       5.0  5.362000
Zimbabwe                                                     5.0  3.750000

                             ... GDP per capita, PPP               Population  \
                             ...                 75%           max      count
Entity                       ...
Afghanistan                  ...         2051.035147   2068.265904        3.0
Africa Eastern and Southern  ...         3549.480563   3579.271917        0.0
Africa Western and Central   ...         4115.235801   4202.057923        0.0
Albania                      ...        11878.488093  13323.753356        5.0
Algeria                      ...        11642.198345  11696.965229        5.0
...                          ...                 ...           ...        ...
Vanuatu                      ...         3088.978879   3093.461547        5.0
Vietnam                      ...         6438.259854   7585.943155        5.0
World                        ...        15509.996467  16636.848011        5.0
Zambia                       ...         3443.553254   3521.542063        5.0
Zimbabwe                     ...         3341.665418   3756.139483        5.0

                                                                       \
                                     mean           std           min
Entity
Afghanistan                  3.359035e+07  4.056354e+06  2.918551e+07
Africa Eastern and Southern           NaN           NaN           NaN
Africa Western and Central            NaN           NaN           NaN
Albania                      2.987469e+06  1.138995e+05  2.882735e+06
Algeria                      3.642517e+07  4.595962e+06  3.104224e+07
...                                   ...           ...           ...
Vanuatu                      2.388530e+05  4.394288e+04  1.849640e+05
Vietnam                      8.798675e+07  6.356589e+06  7.991041e+07
World                        6.930866e+09  6.048552e+08  6.143777e+09
Zambia                       1.382185e+07  2.837417e+06  1.041594e+07
Zimbabwe                     1.298187e+07  1.109856e+06  1.188148e+07

                                                                       \
                                      25%           50%           75%
Entity
Afghanistan                  3.179956e+07  3.441360e+07  3.579276e+07
Africa Eastern and Southern           NaN           NaN           NaN
Africa Western and Central            NaN           NaN           NaN
Albania                      2.890524e+06  2.948029e+06  3.086810e+06
Algeria                      3.314972e+07  3.597745e+07  3.972802e+07
...                                   ...           ...           ...
Vanuatu                      2.092820e+05  2.362160e+05  2.711280e+05
Vietnam                      8.383266e+07  8.796766e+07  9.267708e+07
World                        6.542205e+09  6.957138e+09  7.380118e+09
Zambia                       1.185624e+07  1.360599e+07  1.587937e+07
Zimbabwe                     1.207670e+07  1.269773e+07  1.381464e+07


                                      max
Entity
Afghanistan                  3.717192e+07
Africa Eastern and Southern           NaN
Africa Western and Central            NaN
Albania                      3.129246e+06
Algeria                      4.222842e+07
...                                   ...
Vanuatu                      2.926750e+05
Vietnam                      9.554596e+07
World                        7.631091e+09
Zambia                       1.735171e+07
Zimbabwe                     1.443881e+07

[226 rows x 32 columns]

### If we want a data of specific year the below method can be used to create a separate CSV file of a particular year

In [22]:
df_1 = df[df['Year'] == 2018]
df_1.drop(['Continent'],axis=1,inplace=True) #dropping the column name "continent" because it is of no use
df_1

C:\Users\dhrumil\anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,Code,Year,Total alcohol consumption per capita,"GDP per capita, PPP",Population
Entity,,,,,
Afghanistan,AFG,2018.0,0.210000,2033.804389,3.717192e+07
Africa Eastern and Southern,NaN,2018.0,5.170911,3579.271917,NaN
Africa Western and Central,NaN,2018.0,6.835266,4115.235801,NaN
Albania,ALB,2018.0,7.170000,13323.753356,2.882735e+06
Algeria,DZA,2018.0,0.950000,11642.198345,4.222842e+07
...,...,...,...,...,...
Vanuatu,VUT,2018.0,2.250000,3093.461547,2.926750e+05
Vietnam,VNM,2018.0,8.660000,7585.943155,9.554596e+07
World,OWID_WRL,2018.0,6.181404,16636.848011,7.631091e+09
Zambia,ZMB,2018.0,6.540000,3521.542063,1.735171e+07
Zimbabwe,ZWE,2018.0,4.670000,3341.665418,1.443881e+07

#### Transfering data to CSV

In [23]:
df_1.to_csv('2018_data.csv')

#### Same processes repeated for finding maximum,dropping the NA values,etc

In [24]:
df_1[df_1['Total alcohol consumption per capita'] == df_1['Total alcohol consumption per capita'].max()]

,Code,Year,Total alcohol consumption per capita,"GDP per capita, PPP",Population
Entity,,,,,
Seychelles,SYC,2018.0,20.5,27342.161652,97094.0

In [25]:
new_df_1=df_1[['Total alcohol consumption per capita','Code']].dropna()
new_df_1

                     Total alcohol consumption per capita      Code
Entity
Afghanistan                                      0.210000       AFG
Albania                                          7.170000       ALB
Algeria                                          0.950000       DZA
Angola                                           6.940000       AGO
Antigua and Barbuda                              6.380000       ATG
...                                                   ...       ...
Vanuatu                                          2.250000       VUT
Vietnam                                          8.660000       VNM
World                                            6.181404  OWID_WRL
Zambia                                           6.540000       ZMB
Zimbabwe                                         4.670000       ZWE

[181 rows x 2 columns]

#### Same process repeated for creating the CSV file of specific data and cleaning the data

In [26]:
df_2 = df[df['Year'] == 2015]
df_2.drop(['Continent'],axis=1,inplace=True)

C:\Users\dhrumil\anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [27]:
df_2.to_csv('2015_data.csv')
df_2

,Code,Year,Total alcohol consumption per capita,"GDP per capita, PPP",Population
Entity,,,,,
Afghanistan,AFG,2015.0,0.210000,2068.265904,3.441360e+07
Africa Eastern and Southern,NaN,2015.0,5.200565,3549.480563,NaN
Africa Western and Central,NaN,2015.0,6.869468,4202.057923,NaN
Albania,ALB,2015.0,6.740000,11878.488093,2.890524e+06
Algeria,DZA,2015.0,0.930000,11696.965229,3.972802e+07
...,...,...,...,...,...
Vanuatu,VUT,2015.0,2.140000,2915.700460,2.711280e+05
Vietnam,VNM,2015.0,7.860000,6438.259854,9.267708e+07
World,OWID_WRL,2015.0,6.297859,15509.996467,7.380118e+09
Zambia,ZMB,2015.0,6.890000,3443.553254,1.587937e+07
Zimbabwe,ZWE,2015.0,4.920000,3198.982129,1.381464e+07

#### Findind the mean of groups and displaying groups of users choice

In [28]:
df_2=df_2.groupby('Entity').mean()
df_2.loc[['India','Russia','China','United States','Japan']]

,Year,Total alcohol consumption per capita,"GDP per capita, PPP",Population
Entity,,,,
India,2015.0,5.54,5464.394057,1.310152e+09
Russia,2015.0,12.47,25488.096120,1.449851e+08
China,2015.0,7.15,12691.821553,1.406848e+09
United States,2015.0,9.82,58540.296093,3.208783e+08
Japan,2015.0,7.87,39777.531017,1.279851e+08

#### Concatinating two CSV files data and transfering the combined data to another CSV file

In [41]:
df_concat= pd.concat(
    map(pd.read_csv, ['2015_data.csv', '2018_data.csv']), ignore_index=True,keys=['2015','2018'])
df_concat.to_csv('2015_18_combined_data.csv',index=False)

#### Creating a pivot table of specified Index column and averaging the values W.R.T the specified index

In [70]:

df_pv=df.pivot_table(index=pd.Grouper('Year'))
df_pv

,"GDP per capita, PPP",Population,Total alcohol consumption per capita
Year,,,
2000.0,14563.489836,7.245280e+07,6.098127
2005.0,16206.764163,7.620292e+07,6.158583
2010.0,17336.844191,7.957819e+07,6.255894
2015.0,18477.871260,8.329425e+07,6.124697
2018.0,19462.294290,8.612535e+07,6.052532